@import "@/styles/settings/_settings";

.SectionDescription {

  font-size: 1.2em;
  font-weight: $text-weight-normal;
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    font-size: 1.5em;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 2em;
  }

  strong {
    color: $color-primary;
    font-weight: inherit;
  }

  @media (min-width: $breakpoint-xlarge) {
    padding: 0 3em;  
  }

  &[data-text-size="small"] {

    font-size: 1em;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.2em;
    }
  
    @media (min-width: $breakpoint-large) {
      font-size: 1.8em;
    }

  }

  &[data-text-size="tiny"] {

    font-size: .8em;

    @media (min-width: $breakpoint-medium) {
      font-size: 1em;
    }
  
    @media (min-width: $breakpoint-large) {
      font-size: 1.5em;
    }
  }

  &[data-text-color="white"] {
    color: white;
  }

  &[data-text-color="note"] {
    color: $color-text-note;
  }

  &[data-text-weight="normal"] {
    font-weight: $text-weight-normal;
  }

  &[data-text-weight="semibold"] {
    font-weight: $text-weight-semibold;
  }

  &[data-text-weight="bold"] {
    font-weight: $text-weight-bold;
  }

  &[data-text-weight="black"] {
    font-weight: $text-weight-black;
  }

}
