@import "@/styles/settings/_settings";


.homeContainer {
  position: relative;
  z-index: 1;
  text-align: center;
}

.homeHeroSection {
  
  display: flex;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 3rem); // Must match header height
  padding: 0;
  margin: 0;

  & + section {
    margin-top: 1em;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    filter: blur(80px);
    transform: translateZ(0);
    margin: auto;
  }

  &:before {
    opacity: .15;
    background: radial-gradient($color-brand-eggshell, $color-background);
    border-radius: 50%;
    width: 120vw;
    height: 120vh;
  }
  
  &:after {
    opacity: .6;
    z-index: 0;
    width: 100vw;
    height: 66vh;
    background: conic-gradient(
      from 180deg at 50% 50%,
      $color-brand-yellow 0deg,
      transparent 60deg,
      transparent 360deg
    );
  }

  @media (min-width: $breakpoint-medium) {
    min-height: calc(100vh - 4rem);
  }

}

.homeWebsiteSubmit {
  margin-top: 2.5em;
}

.caption {
    
  font-size: .9em;
  text-align: center;
  margin-top: .8em;

  a {
    
    color: $color-text-note;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.emissionsImage {
  max-width: 40em;
  margin: 0 auto;
}

.imageComparison {

  display: grid;
  grid-gap: 2em;
  list-style: none;
  padding: 0 3em;
  margin: 3em 0;

  @media (min-width: $breakpoint-large) {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    position: relative;
  }

}

.imageComparisonTag {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: -1em;
  right: -1em;
  width: 4em;
  height: 4em;
  font-size: 1.2em;
  color: white;
  background-color: black;
  border-radius: 5em;
  border: solid 2px lighten(black, 10);
  box-shadow: 0 2px 10px rgba($color-brand-gray-darker, 1);

  &[data-color="red"] {
    background-color: $color-red;
    border: solid 2px lighten($color-red, 10);
  }

  &[data-color="yellow"] {
    color: $color-brand-gray-dark;
    background-color: $color-brand-yellow;
    border: solid 2px lighten($color-brand-yellow, 10);
  }

  &[data-color="green"] {
  background-color: $color-green;
  border: solid 2px lighten($color-green, 5);
  }

}

.imageComparisonTagFormat,
.imageComparisonTagSize {
  display: block;
  text-align: center;
  line-height: 1;
}

.imageComparisonTagFormat {
  font-weight: bold;
}

.imageComparisonTagSize {
  font-size: .9em;
}

.imageComparisonSource {

  color: $color-text-note;
  text-align: inherit;

  ul {
    list-style: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }

  a {

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.gettingStarted {

  max-width: 25em;
  font-size: 1em;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $breakpoint-large) {
    font-size: 1.5em;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }

}

.gettingStartedIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 2.5em;
  height: 2.5em;
  color: $color-brand-gray-dark;
  background-color: $color-brand-yellow;
  border-radius: 2.5em;
  margin-right: 1em;
}

.gettingStartedText {
  display: inline-block;
}