@import "@/styles/settings/_settings";

.siteContainer {
  text-align: center;
}

.preview {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50em;
  margin: 4em auto 0;

  @media (min-width: $breakpoint-huge) {
    flex-direction: row;
    align-items: flex-start;
  }

}

.previewImage {
  
  width: 60%;
  margin: 0 3em 0 0;

  img {
    display: block;
  }

  figcaption {
    
    font-size: .9em;
    text-align: center;
    margin-top: .8em;

    a {
      
      color: $color-text-note;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

    }

  }

}

.previewStats {

  display: flex;
  flex-direction: row;
  color: white;
  text-align: left;
  margin-top: 2em;

  @media (min-width: $breakpoint-huge) {
    flex-direction: column;
    margin-top: 0;
  }

  div {

    margin: 0 1.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: $breakpoint-huge) {
      margin: 0;
    }

  }

  h3 {
    font-size: 2em;
    margin-bottom: .4em;
  }

  ul {
    list-style: none;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    font-size: 1.3em;
  }

  li {

    span {
      color: $color-primary;
      margin-left: .5em;
    }

  }

}

.iconGrid {

  display: flex;
  justify-content: center;
  width: 100%;
  text-align: inherit;
  margin: 4em 0;

  ul {

    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    @media (min-width: $breakpoint-large) {
      flex-direction: row;
    }

  }

  li {
    
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 2em;

    @media (min-width: $breakpoint-large) {
      flex-direction: column;
      padding: 0 4em;
      margin: 0;
    }

  }

}

.iconGridIcon {

  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-brand-gray-dark;
  width: 1em;
  aspect-ratio: 1/1;
  font-size: 6em;
  background-color: $color-primary;
  border-radius: 100%;
  margin-right: .3em;

  @media (min-width: $breakpoint-small) {
    width: 1.5em;
  }

  @media (min-width: $breakpoint-large) {
    width: 100%;
    margin-right: 0;
  }

}

.iconGridTitle {
  
  display: block;
  font-size: 2.5em;
  font-weight: $text-weight-bold;
  margin-top: 1em;

  strong {
    color: $color-primary;
  }

}

.sources {

  color: $color-text-note;
  text-align: inherit;

  ul {
    list-style: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }

  a {

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.breakdownImages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breakdownUrl {

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9em;
  text-align: left;
  margin-bottom: 1.5em;

  a {
      
    color: $color-text-note;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.breakdownImage {
  display: flex;
  width: 100%;
  margin-bottom: 3em;
}

.breakdownVersions {

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 70%;
  text-align: left;
  margin: 0 -1em;

  & > div {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 1em;
  }

  p {
    
    font-size: 1.3em;
    font-weight: $text-weight-semibold;
    margin: 0;

    &:first-of-type {
      margin-top: .5em;
    }

  }

  img {
    display: block;
    background-color: darken($color-brand-gray-light, 10);
  }

}

.breakdownMeta {

  flex-grow: 1;
  text-align: left;
  margin-left: 2em;

  ul {
    list-style: none;
    padding: 0;
  }

  h3 {
    font-size: 2em;
    font-weight: $text-weight-bold;
    margin-bottom: .2em;
  }

}

.breakdownMetaSavings,
.breakdownMetaBy {
  
  font-size: 2em;
  font-weight: $text-weight-bold;
  margin: .2em 0;

  strong {
    color: $color-primary;
  }

}

.breakdownMetaBy {
  margin-top: .8em;
}

.breakdownBetaSteps {
  font-size: 1.5em;
  margin-top: .5em;
}