@import "@/styles/settings/_settings";

@keyframes spinGrow { 
  0% { 
    transform: translateZ(0) translateY(-20vh) rotate(0deg) scale(2); 
  }
  50% { 
    transform: translateZ(0) translateY(20vh) rotate(180deg) scale(5); 
  } 
  100% { 
    transform: translateZ(0) translateY(-20vh) rotate(360deg) scale(2); 
  } 
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  } 
}

.siteContainer {
  position: relative;
  z-index: 1;
  text-align: center;
}

.siteHeroSection {

  display: flex;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 3rem); // Must match header height
  padding: 0;
  margin: 0;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    filter: blur(80px);
    transform: translateZ(0);
    margin: auto;
  }

  &:before {
    opacity: .15;
    background: radial-gradient($color-brand-eggshell, $color-background);
    border-radius: 50%;
    width: 120vw;
    height: 120vh;
  }
  
  &:after {
    opacity: .6;
    z-index: 0;
    width: 100vw;
    height: 66vh;
    background: conic-gradient(
      from 180deg at 50% 50%,
      $color-brand-yellow 0deg,
      transparent 60deg,
      transparent 360deg
    );
  }

}

.siteHeroSectionLoading {
  &:after {
    opacity: .4;
    background: conic-gradient(
      from 180deg at 50% 50%,
      transparent 0deg,
      $color-brand-yellow 60deg,
      transparent 220deg,
      $color-brand-yellow 270deg,
      transparent 360deg
    );
    animation: spinGrow 8s linear infinite;
  }
}

.siteHeroContainer {
  padding: 2em;
}

.preview {
  
  display: grid;
  grid-gap: 3em;
  max-width: 54em;
  margin: 2em auto 0;

  @media (min-width: $breakpoint-large) {
    grid-template-columns: 6fr 4fr;
    text-align: left;
    margin: 4em auto 0;
  }

}

.previewImage {

  max-width: 30em;
  margin: 0 auto;
  
  img {
    display: block;
    background-color: $color-brand-eggshell;
  }

  figcaption {
    
    font-size: .9em;
    text-align: center;
    margin-top: .8em;

    p,
    a {
      color: $color-text-note;
    }

    a {
      
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

    }

  }

}

.previewLink {
  display: grid; // hack for links overflowing
}

.previewRefresh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewRefreshLink {

  display: inline-flex;
  align-items: center;
  color: $color-text-note;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1em;

  &:disabled {
    
    color: darken($color-text-note, 5);

    svg {
      animation: spin .5s linear infinite;
    }

  }

  svg {
    margin-right: .5em;
  }

}

.previewStats {

  & > div {

    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  h3 {
    font-size: 2em;
    margin-bottom: .4em;
  }

  ul {
    list-style: none;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    font-size: 1.3em;
  }

  li {

    span {
      color: $color-primary;
      margin-left: .5em;
    }

  }

}

.assuming {

  margin-bottom: 4em;
  
  p[data-text-size] {
    margin: 0;
  }

}

.assumingCounter {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2em auto;

  span {
    margin: 0 .2em;
  }

}

.assumingCounterButton {

  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-brand-eggshell;
  font-size: 1.5em;
  background: none;
  border: none;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover:not(:disabled) {
    color: white;
    transform: scale(1.1);
    transition: transform .1s ease-in-out;
  }

  &:active:not(:disabled) {
    transform: scale(.95);
    transition: transform .1s ease-in-out;
  }

  &:disabled {
    opacity: .5;
  }

}

.iconGrid {

  display: flex;
  justify-content: center;
  width: 100%;
  text-align: inherit;
  margin: 4em 0;

  ul {

    display: grid;
    grid-gap: 1em;
    font-size: 1em;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    @media (min-width: $breakpoint-large) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: $breakpoint-xlarge) {
      font-size: 1.2em;
      grid-gap: 2em;
    }

  }

  li {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-bottom: 2em;

    @media (min-width: $breakpoint-large) {
      flex-direction: column;
      margin: 0;
    }

  }

}

.iconGridIcon {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 2.5em;
  height: 2.5em;
  font-size: 2em;
  color: $color-brand-gray-dark;
  background-color: $color-primary;
  border-radius: 10em;
  margin-right: .8em;
  margin-bottom: 0;

  @media (min-width: $breakpoint-small) {
    font-size: 3em;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 4em;
    margin-right: 0;
    margin-bottom: .4em;
  }

}

.iconGridTitle {
  
  display: block;
  font-size: 1em;
  text-align: left;

  @media (min-width: $breakpoint-large) {
    font-size: 1.2em;
    text-align: center;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 1.5em;
    text-align: center;
  }

  strong {

    display: block;
    color: $color-primary;
    font-size: 1.5em;
    line-height: .8;
    margin-bottom: .2em;

    @media (min-width: $breakpoint-large) {
      margin-bottom: .5em;
    }

  }

}

.iconGridNote {

  display: block;
  font-size: .8em;
  margin-top: .2em;

  @media (min-width: $breakpoint-large) {
    font-size: .75em;
    margin-bottom: .5em;
  }

}

.sources {

  color: $color-text-note;
  text-align: inherit;

  ul {
    list-style: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }

  a {

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.breakdownImages {
  
  list-style: none;
  padding: 0;
  margin: 4em 0 0;

  & > li {
    margin-bottom: 6em;
  }

}

.breakdownImage {
  
  display: grid;
  grid-gap: 2em;
  width: 100%;
  
  @media (min-width: $breakpoint-xlarge) {
    grid-template-columns: 7fr 3fr;
  }
  
  @media (min-width: $breakpoint-huge) {
    grid-gap: 3em;
  }

  [data-is-site-optimized="true"] & {

    @media (min-width: $breakpoint-medium) {
      max-width: 40em;
      margin: 0 auto;
    }

  }

}

.breakdownVersions {

  display: grid;
  grid-gap: 2em;
  text-align: left;
  margin: 0;

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-huge) {
    grid-gap: 3em;
  }

  [data-is-site-optimized="true"] & {

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1fr;
    }
    
  }

  p {
    
    font-size: 1.3em;
    font-weight: $text-weight-semibold;
    margin: 0;

    &:first-of-type {
      margin-top: .5em;
    }

  }

  img {
    display: block;
    background-color: darken($color-brand-gray-light, 10);
  }

}

.breakdownMeta {

  text-align: left;

  ul {
    list-style: none;
    padding: 0;
  }

  h3 {
    font-size: 2em;
    font-weight: $text-weight-bold;
    margin-bottom: .2em;
  }

}

.breakdownMetaSavings,
.breakdownMetaBy {
  
  font-size: 2em;
  font-weight: $text-weight-bold;
  margin: .2em 0;

  strong {
    color: $color-primary;
  }

}

.breakdownMetaBy {
  margin-top: .8em;
}

.breakdownBetaSteps {
  font-size: 1.5em;
  margin-top: .5em;
}

.breakdownHidden {
  margin-top: 5em;
}

.breakdownUrls {

  font-size: .9em;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 3em 0 0 0;

  [data-is-site-optimized="true"] & {
    text-align: center;
  }

  &,
  a {
    color: $color-text-note;
  }

  li {
    display: grid;
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  a {

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.improvements {
  
  list-style: none;
  padding: 0;
  margin: 0;

  li {

    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.resources {

  display: grid;
  grid-gap: 2em;
  list-style: none;
  padding: 0 3em;
  margin: 3em 0;

  @media (min-width: $breakpoint-large) {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    position: relative;
  }

}

.tag {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: -1em;
  right: -1em;
  width: 4em;
  height: 4em;
  font-size: 1.2em;
  color: white;
  background-color: black;
  border-radius: 5em;
  border: solid 2px lighten(black, 10);
  box-shadow: 0 2px 10px rgba($color-brand-gray-darker, 1);

  &[data-color="red"] {
    background-color: $color-red;
    border: solid 2px lighten($color-red, 10);
  }

  &[data-color="yellow"] {
    color: $color-brand-gray-dark;
    background-color: $color-brand-yellow;
    border: solid 2px lighten($color-brand-yellow, 10);
  }

  &[data-color="green"] {
  background-color: $color-green;
  border: solid 2px lighten($color-green, 5);
  }

}

.tagFormat,
.tagSize {
  display: block;
  text-align: center;
  line-height: 1;
}

.tagFormat {
  font-weight: bold;
}

.tagSize {
  font-size: .9em;
}

.resourcesSource {

  color: $color-text-note;
  text-align: inherit;

  ul {
    list-style: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }

  a {

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}