@import "@/styles/settings/_settings";

.header {

  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem; // Rem to allow for calculation with hero height
  font-size: 1em;
  color: $color-brand-gray-light;
  margin: 0;

  @media (min-width: $breakpoint-medium) {
    height: 4em;
  }

}

.headerContainer {
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.headerTitle {

  font-size: 1.6em;
  font-weight: bold;
  margin: 0;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  svg {
    width: auto;
    height: 1.5em;
    margin-right: .5em;
  }

  path {
    fill: $color-brand-gray-light;
  }

}

.headerLinks {
  
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 2em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }


  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1.2em;
      margin-right: 0.4em;
    }
  }
}