$color-blue-medium: #2b6cb0;
$color-blue-dark: #171923;
$color-red: #D93535;
$color-green: #258901;


$color-brand-gray-light: #D1DBD5;
$color-brand-eggshell: #E9EDE0;
$color-brand-yellow: #EECC6E;
$color-brand-gray-dark: #333533;
$color-brand-gray-darker: #242423;

$color-primary: $color-brand-yellow;

$color-background: $color-brand-gray-dark;

$color-text-body: $color-brand-eggshell;
$color-text-headline: white;
$color-text-accent: $color-primary;
$color-text-note: darken($color-brand-gray-light, 15);