$breakpoint-tiny: 375px;
$breakpoint-small: 480px;
$breakpoint-medium: 640px;
$breakpoint-large: 800px;
$breakpoint-xlarge: 960px;
$breakpoint-huge: 1024px;
$breakpoint-max: 1280px;

$display-page-width-max: 80rem;
$display-page-width-narrow: 70rem;
$display-page-width-content: 54rem;

$border-radius-small: 0.2em;