@import "@/styles/settings/_settings";

.footer {
  width: 100%;
  color: white;
  text-align: center;
  padding: 3em 0;

  a {
    color: inherit;
  }

  p {

    margin: 0 0 .5em;

    &:last-child {
      margin-bottom: 0;
    }

  }
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.4em;

  @media (max-width: 720px) {
    flex-wrap: wrap;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footerLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 2em;

  @media (max-width: 720px) {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    svg {
      margin-right: 0.4em;
    }
  }
}

.footerLegal {
  
  a {
    text-decoration: underline;
  }

}

.builtWith {
  
  color: $color-brand-eggshell;
  text-align: center;
  margin: 2em 0;

  p {

    font-size: 1.1em;
    margin-bottom: 1em; 

    a {
      
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

    }

  }

  path {
    fill: $color-brand-eggshell;
  }

}

.builtWithLogos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.note {
  color: $color-text-note;
  font-size: .9em;
}

.cloudinaryContainer {
  text-align: center;
}

.cloudinaryLogo {
  
  display: inline-block;
  width: 100%;
  max-width: 18em;

  a,
  svg {
    display: block;
    width: 100%;
    height: auto;
    color: white;
  }

  path {
    color: white;
    fill: white;
  }

}

.cloudinaryContent {
  text-align: left;
}

.cloudinaryTitle {
  font-size: 1.9em;
  text-align: inherit;
  margin-bottom: .4em;
}

.cloudinaryText {
  font-size: 1.8em;
  // color: white;
  text-align: inherit;
  padding: 0;
  margin: 0;
}

.cloudinaryGetStarted {
  display: inline-block;
  text-align: inherit;
  font-size: 1em;
  color: $color-primary;
  font-weight: 700;
  font-size: 1.6em;
  text-decoration: none;
  margin-top: 1em;
}